@import "../../styles/mixin.scss";
@import "../../styles/style.scss";

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: rgba(7, 66, 86);

    .headerNav {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: transparent;
        font-family: 'Rajdhani', sans-serif;
        padding-left: 180px;
        padding-right: 180px;
        gap: 30%;

        .headerLogo {

            text-decoration: none;

            .headerLogoImg {

                max-height: 45px;

                path {
                    fill: white;
                }

                @include width_880 {
                    max-height: 35px;
                }
            }

            .headerLogoText {
                color: white;
                font-weight: 400;
                margin: 0;
                font-size: 20px;
            }
        }

        .headerListBtn {
            display: none;
            border: none;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #096f92;
            width: 45px;
            height: 45px;
            display: none;

            .headerListBtnImg {
                width: 30px;
                height: 30px;
                transition: 1s;
            }

            @include width_672 {
                display: block;
            }
        }

        .headerList {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            gap: 25px;
            height: 90px;

            .headerListItem {
                list-style-type: none;
                display: flex;
                align-items: center;
                height: 100%;

                .headerListLink {
                    font-weight: 400;
                    font-size: 20px;
                    text-decoration: none;
                    color: white;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include width_672 {
                        font-size: 15px;
                    }
                }
            }

            .headerListItemClick {
                list-style-type: none;
                display: flex;
                align-items: center;
                height: 100%;
                border-bottom: 3px solid white;

                .headerListLink {
                    font-weight: 400;
                    font-size: 20px;
                    text-decoration: none;
                    color: white;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include width_672 {
                        font-size: 15px;
                    }
                }
            }

            @include width_672 {
                display: none;
            }
        }

        .headerListClick {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 99px;
            z-index: 2;
            background-color: rgba(7, 66, 86);
            width: 270px;

            .headerListItem {
                list-style-type: none;
                display: flex;
                align-items: center;
                height: 100%;
                padding: 10px 15px;

                .headerListLink {
                    font-weight: 400;
                    font-size: 25px;
                    text-decoration: none;
                    color: white;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .headerListItemClick {
                list-style-type: none;
                display: flex;
                align-items: center;
                height: 100%;
                height: 100%;
                padding: 10px 15px;

                .headerListLink {
                    font-weight: 400;
                    font-size: 25px;
                    text-decoration: none;
                    color: white;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .headerBtn {
            background-color: #096f92;
            color: white;
            border: none;
            border-radius: 35px;
            padding: 8px 25px;
            font-size: 15px;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
                color: #074256;
                transition: .5s;
                background-color: white;
            }

            @include width_672 {
                display: none;
            }
        }

        .headerBtnClick {
            z-index: 2;
            background-color: rgba(7, 66, 86);
            color: white;
            border: none;
            font-size: 25px;
            position: absolute;
            right: 0;
            top: 271px;
            width: 270px;
            padding: 10px 15px;
            text-align: left;
        }

        @include width_1415 {
            padding-left: 85px;
            padding-right: 85px;
        }

        @include width_672 {
            justify-content: space-between;
            padding: 20px 50px;
        }
    }
}